In [3]:
import os
import numpy as np
import pandas as pd

In [ ]:


# Local file path (in particular to train data)
base_path = "/Users/markoprohaska/Library/Mobile Documents/com~apple~CloudDocs/University/Semester_6/MRNet-v1.0"
train_path = os.path.join(base_path, "train")

# Read labels from CSV files and extract the second column
labels = {}
for label_name in ["abnormal", "acl", "meniscus"]:
    data = pd.read_csv(f"{base_path}/train-{label_name}.csv", header=None)
    labels[label_name] = data.iloc[:, 1]  # Extract the second column (actual labels)

# Dictionary to store dataset
dataset = {}

# Convert labels to floats (stored in 4 digit format)
for i in range(10):  
    sample_id = f"{i:04d}"
    
    # Load npy files from each plane
    sample_data = {
        "axial": np.load(os.path.join(train_path, "axial", f"{sample_id}.npy")),
        "coronal": np.load(os.path.join(train_path, "coronal", f"{sample_id}.npy")),
        "sagittal": np.load(os.path.join(train_path, "sagittal", f"{sample_id}.npy")),
        "abnormal": labels["abnormal"].iloc[i] if i < len(labels["abnormal"]) else None,
        "acl": labels["acl"].iloc[i] if i < len(labels["acl"]) else None,
        "meniscus": labels["meniscus"].iloc[i] if i < len(labels["meniscus"]) else None,
    }
    
    # Store in dictionary
    dataset[sample_id] = sample_data  

# Convert to DataFrame
df = pd.DataFrame.from_dict(dataset, orient="index")

# Display the first few roww

                                                  axial  \
0000  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0001  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0002  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0003  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0004  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

                                                coronal  \
0000  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0001  [[[0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0...
0002  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0003  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
0004  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

                                               sagittal  abnormal  acl  \
0000  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...         1    0
0001  [[[0, 0, 0, 0, 0, 4, 9, 9, 11, 11, 11, 9, 10, ...         1    1
0002  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...         1    0
0003  [[[6, 8, 9, 7, 8, 8, 7, 6, 6, 7, 6, 7, 7, 7, 1...         1    0
0004  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...         1    0

      meniscus
0000         0
0001         1
0002         0
0003         1
0004         0

In [59]:
df.head()

,axial,coronal,sagittal,abnormal,acl,meniscus
0000,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1,0,0
0001,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0...","[[[0, 0, 0, 0, 0, 4, 9, 9, 11, 11, 11, 9, 10, ...",1,1,1
0002,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1,0,0
0003,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[6, 8, 9, 7, 8, 8, 7, 6, 6, 7, 6, 7, 7, 7, 1...",1,0,1
0004,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1,0,0

In [68]:
df['sagittal'][0000].shape

/var/folders/74/1m882dw111gc4jstp0g674q40000gn/T/ipykernel_85571/1039133361.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['sagittal'][0000].shape

(36, 256, 256)

In [ ]:
sample_df = pd.DataFrame()